---
- name: 'Playbook: [Первоначальный процесс развертывания]'
  hosts: all
  become: yes

  vars:
    GITUSER: # - Username для клонирования приватного репозитория
    GITPASS: # - Пароль для клонирования приватного репозитория
    REPO: # - Ссылка на репозиторий
    BRANCH: master # - Ветка для клонирования
    DEV_OPS_DIR: '/DevOps' # - Путь до папки с DevOps

  pre_tasks:
    - name: Проверка обязательных переменных
      fail:
        msg: "Переменные GITUSER, GITPASS и REPO должны быть заданы"
      when: GITUSER is not defined or GITPASS is not defined or REPO is not defined

  tasks:
    - name: 'Создание временной папки'
      tempfile:
        state: directory
        suffix: _git_clone
      register: directory

    - set_fact: directory="{{ directory.path }}"

    - debug:
        msg: 'Проект будет склонирован в директорию: {{ directory }}'

    - name: 'Клонирование репозитория'
      git:
        repo: "https://{{ GITUSER | urlencode }}:{{ GITPASS | urlencode }}@{{ REPO }}"
        dest: '{{ directory }}/'
        version: '{{ BRANCH }}'

    - block:
        - name: Сборка и запуск сервисов для приложения
          community.docker.docker_compose_v2:
            project_src: "{{ directory }}{{ DEV_OPS_DIR | default('', true) }}"
            files: [docker-compose-services.yml]
            state: present
          register: result_services

        - name: Сборка и запуск основного приложения
          community.docker.docker_compose_v2:
            project_src: "{{ directory }}{{ DEV_OPS_DIR | default('', true) }}"
            files: [docker-compose.yml]
            state: present
          register: result_main

        - name: Сборка и запуск портейнера
          community.docker.docker_compose_v2:
            project_src: "{{ directory }}{{ DEV_OPS_DIR | default('', true) }}"
            files: [docker-compose-portainer.yml]
            state: present
          register: result_portainer

        - name: Сборка и запуск мониторинга приложения
          community.docker.docker_compose_v2:
            project_src: '{{ directory }}/Monitoring'
            files: [docker-compose.yml]
            state: present
          register: result_monitoring

      rescue:
        - name: Логирование ошибки
          debug:
            msg: "Ошибка на этапе развертывания. Результаты: \
                  Сервисы - {{ result_services.rc }}, \
                  Основное приложение - {{ result_main.rc }}, \
                  Портейнер - {{ result_portainer.rc }}, \
                  Мониторинг - {{ result_monitoring.rc }}"

    - name: Удаление временной директории
      file:
        path: '{{ directory }}'
        state: absent
      when: result_services.rc == 0 and result_main.rc == 0 and result_portainer.rc == 0 and result_monitoring.rc == 0

    - name: Проверка на успешность развертывания
      debug:
        msg: 'Проект успешно развернут'
      failed_when: result_services.rc != 0 or result_main.rc != 0 or result_portainer.rc != 0 or result_monitoring.rc != 0
